definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    main_file: Custom Smoothie Order Form.py
    artifacts:
      - pyproject.toml
      - Custom Smoothie Order Form.py
      - .streamlit/config.toml
