# requirements.txt
snowflake-snowpark-python
streamlit

import requests  
smoothiefroot_response = requests.get("[https://my.smoothiefroot.com/api/fruit/watermelon](https://my.smoothiefroot.com/api/fruit/watermelon)")  
st.text(smoothiefroot_response)

definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    main_file: Custom Smoothie Order Form.py
    artifacts:
      - pyproject.toml
      - Custom Smoothie Order Form.py
      - .streamlit/config.toml
